# ============================================================
# Python
# ============================================================
__pycache__/
.pytest_cache/
.coverage
*.py[cod]

# ============================================================
# Virtual environments
# ============================================================
venv/
.env


# ============================================================
# Data
# ============================================================
data/*


# ============================================================
# Tests
# ============================================================
tests/

# ============================================================
# LaTeX
# ============================================================
tex/*.tex
tex/*.aux
tex/*.log
tex/*.out
tex/*.toc
tex/*.lof
tex/*.lot
tex/*.fls
tex/*.fdb_latexmk
tex/*.synctex
tex/*.synctex.gz

# ============================================================
# Python packaging
# ============================================================
*.egg-info/
dist/
build/

# ============================================================
# Jupyter
# ============================================================
.ipynb_checkpoints/

# ============================================================
# OS
# ============================================================
.DS_Store

# ============================================================
# Literature
# ============================================================
literature/*


TASK.pdf