# ============================================================
# Python
# ============================================================
__pycache__/
.pytest_cache/
.coverage


# ============================================================
# Virtual environments
# ============================================================
venv/
.env


# ============================================================
# Data
# ============================================================
data/*


# ============================================================
# Tests
# ============================================================
tests/

# ============================================================
# LaTeX
# ============================================================
tex/*.aux
tex/*.log
tex/*.out
tex/*.toc
tex/*.lof
tex/*.lot
tex/*.fls
tex/*.fdb_latexmk
tex/*.synctex
tex/*.synctex.gz


# ============================================================
# Literature
# ============================================================
literature/*


TASK.pdf